#Files to not push to git.
.gitignore
genome_Christopher_Smith_v5_chr1_20230926164611.txt
*.R
test.py
yarn.lock
input.vcf
index.html
how_to_run_prs_tool.txt
docker_push_instructions.txt
__pycache__
Website/
test/
prsfiles/
node_modules/
Mockup/
AbsRisk_JavaScript/
